# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/


# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Python packaging
# =========================
*.egg-info/
dist/
build/

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp